/* *, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
} */

@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf') format('truetype');
}

body {
    scroll-behavior: smooth;
}

.fly-hovered {
    transition: 0.5s;
}

.fly-hovered:hover {
    transform: translateY(-1rem);
}

@media  screen and (max-width: 365px) {
    .media-logo-fixing-1 {
        margin-top: 0.75rem;
    }
}

@media  screen and (max-width: 395px) {
    .media-logo-fixing-2 {
        margin-top: 0.75rem;
    }
}